:root {
    --primary-color: #000;
    --secondary-color: #b026ff;
    --tertiary-color:#16dbff;
}

body {
    background: black
}

/*Header*/

header nav {
    background: rgba(176,38,255,0.8);
    padding: 20px 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: right;
    list-style: none;
}

.nav li a {
    color: var(--tertiary-color);
    font-size: 45px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
}

.name {
    color: #fff;
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 7px #16dbff, 0 0 10px #16dbff, 0 0 21px #16dbff, 0 0 42px #38b6ff, 0 0 82px #38b6ff, 0 0 92px #38b6ff, 0 0 102px #38b6ff, 0 0 151px #38b6ff;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px #16dbff, 0 0 11px #16dbff, 0 0 19px #16dbff, 0 0 40px #38b6ff, 0 0 80px #38b6ff, 0 0 90px #38b6ff, 0 0 100px #38b6ff, 0 0 150px #38b6ff;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}
    
header h1 {
     align-items: left;
    font-family: Brush Script MT;
    font-size: 100px;
}    

/*About Section*/

.About {
    background: rgba(22,219,255, 0.8);
}

.About h2 {
    font-size: 75px;
    color: var(--secondary-color);
}

.bio {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bio img {
    width: 500px;
    height: 550px;
}

.bio p {
    font-size: 20px;
    color: var(--secondary-color);
    text-align: center;
    width: 500px;
}

/*Projects Section*/

.Projects {
    background: rgba(176,38,255, 0.8);
}

.Projects h2 {
    font-size: 75px;
    color: var(--tertiary-color);
}

.placeholder-projects-1, .placeholder-projects-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Projects img {
    width: 400px;
    height: 400px;
}

.Projects p {
    font-size: 25px;
    color: var(--tertiary-color);
    font-weight: bold;
    margin: 5px;
    text-align: center;
    }

.recent-project img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 650px;
}
    
/*Contact Section*/

.Contact {
    background: rgba(22,219,255, 0.8);
}

.Contact h2 {
    font-size: 75px;
    color: var(--secondary-color);
}


.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Contact p {
    font-size: 20px;
    color: var(--secondary-color);    
}

.contact-header {
    font-weight: bold;
}
