:root {
    --primary-color: #000;
    --secondary-color: #b026ff;
    --tertiary-color:#16dbff;
}

* {
}

body {
    background: black
}

/*Header*/

header {
    background: var(--secondary-color);
}
.name {
color: #000;
text-shadow:0 0 7px #16dbff, 0 0 10px #16dbff, 0 0 21px #16dbff, 0 0 42px #16dbff, 0 0 82px #16dbff, 0 0 92px #16dbff, 0 0 102px #16dbff, 0 0 151px #16dbff;
}

header h1 {
    align-items: left;
    font-family: sans-serif;
    font-size: 70px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: right;
    list-style: none;
}

.nav li a {
    color: var(--tertiary-color);
    font-size: 40px;
    padding: 15px;
    text-decoration: none;

}

/*About Section*/

.About {
    background: var(--tertiary-color);
}

.About h2 {
    font-size: 75px;
    color: var(--secondary-color);
}

.headshot img {
    width: 500px;
    height: 550px;
}

.description {
    font-size: 20px;
    color: var(--secondary-color);
}

/*Projects Section*/

.Projects {
    background: var(--secondary-color);
}

.Projects h2 {
    font-size: 75px;
    color: var(--tertiary-color);
}

.Projects p {
font-size: 25px;
color: var(--tertiary-color);
font-weight: bold;
margin: 5px;
}

.recent-project img {
    width: 650px;
    height: 650px;
}

.placeholder-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

}

.placeholder-projects img {
    width: 400px;
    height: 400px;
}


/*Contact Section*/

.Contact {
    background: var(--tertiary-color);
}

.Contact h2 {
    font-size: 75px;
    color: var(--secondary-color);
}

.Contact p {
    font-size: 20px;
    color: var(--secondary-color);    
}

.contact-header {
    font-weight: bold;
}
